{% extends 'layout.html' %}
{% load static %}
{% block title %}

<title>Show Student</title>
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="text-center">All products</h1>
        <div class="card p-2">
            <a class="btn btn-success btn-sm ms-auto" href="/products/post_product">Add New Product</a>
            {% include 'message.html' %}
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Total price</th>
                    <th>Quantity</th>
                    <th>Image</th>
                    <th>Status</th>
                </tr>
                {% for i in items %}
                <tr>
                    <td>{{i.product.name}}</td>
                    <td>{{i.total_price}}</td>
                    <td>{{i.quantity}}</td>
                    <td><img src="{{i.product.image_url}}" width="200" alt="image"></td>
                    <td>
                      {{i.status}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

</div>
{% endblock content%}