{% extends 'layout.html' %}
{% load static %}
{% block title %}

<title>Products</title>
{% endblock title %}

{% block content %}
<div class="container">
<h1>ALL Products</h1>
<ul>
    {%  for i in products  %}
    <li>Name: {{i.name}}, Price: {{i.price}}</li>
    {% endfor %}
</ul>
<div class="container">
    <img src="{% static 'images/image1.jpg' %}" height="200" width="200" class="rounded"  />
</div>

    <form action="" method="POST">
        {{productform}}
        <input type="submit" name="submit" value="Submit">
    </form>
<hr/>
     <form action="" method="POST">
        {{productmodelform}}
        <input type="submit" name="submit" value="Submit">
    </form>

    </div>
<div class="row col-md-6">
    <canvas id="myChart" width="200" height="200"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Students','Files','Users', 'Admins'],
        datasets: [{
            label: 'Counts',
            data: ['{{students}}','{{files}}','{{users}}','{{admins}}'],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)',

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</div>
{% endblock content%}


# labels: [{% for i in results %} '{{i.data}}',  {% endfor%}],